
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.photos{
    text-align: center;
}
.photos img{
     width: 60%;
     margin: 10px;
}
button{
    color: black;
    float: right;
    margin-left: 500px;
    margin-top: 50px;
    display: none;
}
.main{
    width: 100%;
    display: inline-block;
}
.main p{
    float: left;
    font-size:25px;
    font-weight: bold;
    margin: 40px;
}
nav{
    width: 100%;
    background-color: #212F3C;
    font-family: 'Abril Fatface';
    height: 80px;
}
label.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: 1;
}
label.logo span{
    font-family: 'Indie Flower';
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a, nav ul li span{
    font-family: 'Indie Flower';
   color: rgba(260,260,260);
   padding: 7px 13px;
   border-radius: 3px;
   font-size: 17px;
   text-transform: uppercase;
   letter-spacing: 4px;
}
a:hover{
     color: gold;
     transition: .5s;
}
nav ul li span:hover{
    color: rgba(260,260,260,.5);
}
.checkbtn{
    font-family: 'Indie Flower';
    font-size: 50px;
    color: white;
    font-weight: 3;
    float: right;
    line-height: 55px;
    margin-right: 15px;
    cursor: pointer;
    display: block;
}
#check{
    display: none;
}
.active{
    text-decoration: underline;
}
#check:checked ~ ul{
    left: 0;
}

ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: grey;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 20px;
}
a:hover{
    background: none;
    color: gold;
}
a :hover{
   color: gold;
}
.topic h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Akaya Telivigala';
    font-weight: bold;
}
.contacts{
    margin-top: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 90px;
}
.contacts a{
    font-size: 45px;
    font-weight: bold;
    color: #111;
}

.fa-instagram {

  color: #212F3C;
}
.fa-snapchat-ghost {

  color: #212F3C;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-cloud{

    color: #212F3C;
}
.fa-google {

  color: #212F3C;
}
.contacts a:hover {
    color: gold;
}

